{
    "openapi": "3.0.1",
    "info": {
        "title": "Team Engage Spend",
        "version": "v4"
    },
    "servers": [
        {
            "url": "https://engage.spendmanagement.com/engage/v4"
        }
    ],
    "paths": {
        "/api/Attachments/Upload/Request/{DocumentID}": {
            "post": {
                "tags": [
                    "Attachments"
                ],
                "summary": "Attachments_Post",
                "operationId": "Attachments_Post",
                "parameters": [
                    {
                        "name": "DocumentID",
                        "in": "path",
                        "description": "Format - int64.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiAttachmentsUploadRequestDocumentIDPost200ApplicationJsonResponse"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiAttachmentsUploadRequestDocumentIDPost200TextJsonResponse"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiAttachmentsUploadRequestDocumentIDPost200ApplicationXmlResponse"
                                },
                                "example": "<ApiAttachmentsUploadRequestDocumentIDPost200ApplicationXmlResponse />"
                            },
                            "text/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiAttachmentsUploadRequestDocumentIDPost200TextXmlResponse"
                                },
                                "example": "<ApiAttachmentsUploadRequestDocumentIDPost200TextXmlResponse />"
                            }
                        }
                    }
                }
            }
        },
        "/api/Attachments/Upload/RequestItem/{DocumentID}": {
            "post": {
                "tags": [
                    "Attachments"
                ],
                "summary": "Attachments_PostItem",
                "operationId": "Attachments_PostItem",
                "parameters": [
                    {
                        "name": "DocumentID",
                        "in": "path",
                        "description": "Format - int64.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiAttachmentsUploadRequestItemDocumentIDPost200ApplicationJsonResponse"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiAttachmentsUploadRequestItemDocumentIDPost200TextJsonResponse"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiAttachmentsUploadRequestItemDocumentIDPost200ApplicationXmlResponse"
                                },
                                "example": "<ApiAttachmentsUploadRequestItemDocumentIDPost200ApplicationXmlResponse />"
                            },
                            "text/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiAttachmentsUploadRequestItemDocumentIDPost200TextXmlResponse"
                                },
                                "example": "<ApiAttachmentsUploadRequestItemDocumentIDPost200TextXmlResponse />"
                            }
                        }
                    }
                }
            }
        },
        "/api/Attachments/Download/{FileID}": {
            "get": {
                "tags": [
                    "Attachments"
                ],
                "summary": "Attachments_Get",
                "operationId": "Attachments_Get",
                "parameters": [
                    {
                        "name": "FileID",
                        "in": "path",
                        "description": "Format - int64.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ActionResult"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ActionResult"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/ActionResult"
                                },
                                "example": "<ActionResult />"
                            },
                            "text/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/ActionResult"
                                },
                                "example": "<ActionResult />"
                            }
                        }
                    }
                }
            }
        },
        "/api/Attachments/Download2/{FileID}": {
            "get": {
                "tags": [
                    "Attachments"
                ],
                "summary": "Attachments_Get2",
                "operationId": "Attachments_Get2",
                "parameters": [
                    {
                        "name": "FileID",
                        "in": "path",
                        "description": "Format - int64.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiAttachmentsDownload2FileIDGet200ApplicationJsonResponse"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiAttachmentsDownload2FileIDGet200TextJsonResponse"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiAttachmentsDownload2FileIDGet200ApplicationXmlResponse"
                                },
                                "example": "<ApiAttachmentsDownload2FileIDGet200ApplicationXmlResponse />"
                            },
                            "text/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiAttachmentsDownload2FileIDGet200TextXmlResponse"
                                },
                                "example": "<ApiAttachmentsDownload2FileIDGet200TextXmlResponse />"
                            }
                        }
                    }
                }
            }
        },
        "/api/Attachments/Delete/{FileID}/Request/{DocumentID}": {
            "delete": {
                "tags": [
                    "Attachments"
                ],
                "summary": "Attachments_Delete",
                "operationId": "Attachments_Delete",
                "parameters": [
                    {
                        "name": "FileID",
                        "in": "path",
                        "description": "Format - int64.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "DocumentID",
                        "in": "path",
                        "description": "Format - int64.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiAttachmentsDeleteFileIDRequestDocumentIDDelete200ApplicationJsonResponse"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiAttachmentsDeleteFileIDRequestDocumentIDDelete200TextJsonResponse"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiAttachmentsDeleteFileIDRequestDocumentIDDelete200ApplicationXmlResponse"
                                },
                                "example": "<ApiAttachmentsDeleteFileIDRequestDocumentIDDelete200ApplicationXmlResponse />"
                            },
                            "text/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiAttachmentsDeleteFileIDRequestDocumentIDDelete200TextXmlResponse"
                                },
                                "example": "<ApiAttachmentsDeleteFileIDRequestDocumentIDDelete200TextXmlResponse />"
                            }
                        }
                    }
                }
            }
        },
        "/api/Attachments/Delete/{FileID}/RequestItem/{DocumentID}": {
            "delete": {
                "tags": [
                    "Attachments"
                ],
                "summary": "Attachments_DeleteItem",
                "operationId": "Attachments_DeleteItem",
                "parameters": [
                    {
                        "name": "FileID",
                        "in": "path",
                        "description": "Format - int64.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "DocumentID",
                        "in": "path",
                        "description": "Format - int64.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiAttachmentsDeleteFileIDRequestItemDocumentIDDelete200ApplicationJsonRespo"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiAttachmentsDeleteFileIDRequestItemDocumentIDDelete200TextJsonResponse"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiAttachmentsDeleteFileIDRequestItemDocumentIDDelete200ApplicationXmlRespon"
                                },
                                "example": "<ApiAttachmentsDeleteFileIDRequestItemDocumentIDDelete200ApplicationXmlRespon />"
                            },
                            "text/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiAttachmentsDeleteFileIDRequestItemDocumentIDDelete200TextXmlResponse"
                                },
                                "example": "<ApiAttachmentsDeleteFileIDRequestItemDocumentIDDelete200TextXmlResponse />"
                            }
                        }
                    }
                }
            }
        },
        "/api/Attachments/Upload/Invoice/{DocumentID}": {
            "post": {
                "tags": [
                    "Attachments"
                ],
                "summary": "Attachments_PostInvoice",
                "operationId": "Attachments_PostInvoice",
                "parameters": [
                    {
                        "name": "DocumentID",
                        "in": "path",
                        "description": "Format - int64.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiAttachmentsUploadInvoiceDocumentIDPost200ApplicationJsonResponse"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiAttachmentsUploadInvoiceDocumentIDPost200TextJsonResponse"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiAttachmentsUploadInvoiceDocumentIDPost200ApplicationXmlResponse"
                                },
                                "example": "<ApiAttachmentsUploadInvoiceDocumentIDPost200ApplicationXmlResponse />"
                            },
                            "text/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiAttachmentsUploadInvoiceDocumentIDPost200TextXmlResponse"
                                },
                                "example": "<ApiAttachmentsUploadInvoiceDocumentIDPost200TextXmlResponse />"
                            }
                        }
                    }
                }
            }
        },
        "/api/Attachments/Delete/{FileID}/Invoice/{DocumentID}": {
            "delete": {
                "tags": [
                    "Attachments"
                ],
                "summary": "Attachments_DeleteInvoice",
                "operationId": "Attachments_DeleteInvoice",
                "parameters": [
                    {
                        "name": "FileID",
                        "in": "path",
                        "description": "Format - int64.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "DocumentID",
                        "in": "path",
                        "description": "Format - int64.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiAttachmentsDeleteFileIDInvoiceDocumentIDDelete200ApplicationJsonResponse"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiAttachmentsDeleteFileIDInvoiceDocumentIDDelete200TextJsonResponse"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiAttachmentsDeleteFileIDInvoiceDocumentIDDelete200ApplicationXmlResponse"
                                },
                                "example": "<ApiAttachmentsDeleteFileIDInvoiceDocumentIDDelete200ApplicationXmlResponse />"
                            },
                            "text/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiAttachmentsDeleteFileIDInvoiceDocumentIDDelete200TextXmlResponse"
                                },
                                "example": "<ApiAttachmentsDeleteFileIDInvoiceDocumentIDDelete200TextXmlResponse />"
                            }
                        }
                    }
                }
            }
        },
        "/api/Attachments/Upload/InvoiceItem/{DocumentID}": {
            "post": {
                "tags": [
                    "Attachments"
                ],
                "summary": "Attachments_PostInvoiceItem",
                "operationId": "Attachments_PostInvoiceItem",
                "parameters": [
                    {
                        "name": "DocumentID",
                        "in": "path",
                        "description": "Format - int64.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiAttachmentsUploadInvoiceItemDocumentIDPost200ApplicationJsonResponse"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiAttachmentsUploadInvoiceItemDocumentIDPost200TextJsonResponse"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiAttachmentsUploadInvoiceItemDocumentIDPost200ApplicationXmlResponse"
                                },
                                "example": "<ApiAttachmentsUploadInvoiceItemDocumentIDPost200ApplicationXmlResponse />"
                            },
                            "text/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiAttachmentsUploadInvoiceItemDocumentIDPost200TextXmlResponse"
                                },
                                "example": "<ApiAttachmentsUploadInvoiceItemDocumentIDPost200TextXmlResponse />"
                            }
                        }
                    }
                }
            }
        },
        "/api/Attachments/Delete/{FileID}/InvoiceItem/{DocumentID}": {
            "delete": {
                "tags": [
                    "Attachments"
                ],
                "summary": "Attachments_DeleteInvoiceItem",
                "operationId": "Attachments_DeleteInvoiceItem",
                "parameters": [
                    {
                        "name": "FileID",
                        "in": "path",
                        "description": "Format - int64.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "DocumentID",
                        "in": "path",
                        "description": "Format - int64.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiAttachmentsDeleteFileIDInvoiceItemDocumentIDDelete200ApplicationJsonRespo"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiAttachmentsDeleteFileIDInvoiceItemDocumentIDDelete200TextJsonResponse"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiAttachmentsDeleteFileIDInvoiceItemDocumentIDDelete200ApplicationXmlRespon"
                                },
                                "example": "<ApiAttachmentsDeleteFileIDInvoiceItemDocumentIDDelete200ApplicationXmlRespon />"
                            },
                            "text/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiAttachmentsDeleteFileIDInvoiceItemDocumentIDDelete200TextXmlResponse"
                                },
                                "example": "<ApiAttachmentsDeleteFileIDInvoiceItemDocumentIDDelete200TextXmlResponse />"
                            }
                        }
                    }
                }
            }
        },
        "/api/info/TimeZones": {
            "get": {
                "tags": [
                    "Info"
                ],
                "summary": "Time Zones",
                "description": "Returns a set of Time Zones used in the Fraxion application.",
                "operationId": "Info_TimeZones",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TimeZones"
                                },
                                "example": {
                                    "TimeZoneID": "string",
                                    "DisplayName": "string"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TimeZones"
                                },
                                "example": {
                                    "TimeZoneID": "string",
                                    "DisplayName": "string"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/TimeZones"
                                },
                                "example": "<TimeZones> <TimeZoneID>string</TimeZoneID> <DisplayName>string</DisplayName> </TimeZones>"
                            },
                            "text/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/TimeZones"
                                },
                                "example": "<TimeZones> <TimeZoneID>string</TimeZoneID> <DisplayName>string</DisplayName> </TimeZones>"
                            }
                        }
                    }
                }
            }
        },
        "/api/Notifications/Nofity/{userMail}/{subject}/{message}": {
            "post": {
                "tags": [
                    "Notifications"
                ],
                "summary": "Notifications_Nofity",
                "operationId": "Notifications_Nofity",
                "parameters": [
                    {
                        "name": "userMail",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "subject",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "message",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "fxTenantID",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "direct",
                        "in": "query",
                        "description": "Format - int32.",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiNotificationsNofityUserMailSubjectMessagePost200ApplicationJsonResponse"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiNotificationsNofityUserMailSubjectMessagePost200TextJsonResponse"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiNotificationsNofityUserMailSubjectMessagePost200ApplicationXmlResponse"
                                },
                                "example": "<ApiNotificationsNofityUserMailSubjectMessagePost200ApplicationXmlResponse />"
                            },
                            "text/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiNotificationsNofityUserMailSubjectMessagePost200TextXmlResponse"
                                },
                                "example": "<ApiNotificationsNofityUserMailSubjectMessagePost200TextXmlResponse />"
                            }
                        }
                    }
                }
            }
        },
        "/api/Resources": {
            "get": {
                "tags": [
                    "Resources"
                ],
                "summary": "Language Resources",
                "description": "Returns a set of resource strings based on the culturecode provided and subset requested.\r\n            \r\nsubset: the set of resouces required. each subsequent subset delimited by a '.'<br />\r\nexamples: History<br />\r\n          Views.Shared<br />\r\n          Views.Home<br />\r\n          Views<br />\r\n          Models<br />\r\n          Models.Invoice<br />\r\n             \r\ncultureCode: en-US, en-GB, en-ZA, en-CA, en-AU, af-ZA, de-DE or xh-ZA etc.",
                "operationId": "Resources_LanguageResources",
                "parameters": [
                    {
                        "name": "subset",
                        "in": "query",
                        "description": "If not provided, the default fetches the full set",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "cultureCode",
                        "in": "query",
                        "description": "If not provided, the default value is en-US",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResourcesGet200ApplicationJsonResponse"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResourcesGet200TextJsonResponse"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResourcesGet200ApplicationXmlResponse"
                                },
                                "example": "<ApiResourcesGet200ApplicationXmlResponse />"
                            },
                            "text/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiResourcesGet200TextXmlResponse"
                                },
                                "example": "<ApiResourcesGet200TextXmlResponse />"
                            }
                        }
                    }
                }
            }
        },
        "/api/start": {
            "get": {
                "tags": [
                    "Start"
                ],
                "summary": "Home Page Links",
                "description": "Returns a set of links for the home screen for the user.",
                "operationId": "Start_StartLinks",
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NavigationLink"
                                },
                                "example": {
                                    "LinkID": "string",
                                    "LinkType": "string",
                                    "Enabled": true,
                                    "Link": "string"
                                }
                            },
                            "text/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/NavigationLink"
                                },
                                "example": {
                                    "LinkID": "string",
                                    "LinkType": "string",
                                    "Enabled": true,
                                    "Link": "string"
                                }
                            },
                            "application/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/NavigationLink"
                                },
                                "example": "<NavigationLink> <LinkID>string</LinkID> <LinkType>string</LinkType> <Enabled>true</Enabled> <Link>string</Link> </NavigationLink>"
                            },
                            "text/xml": {
                                "schema": {
                                    "$ref": "#/components/schemas/NavigationLink"
                                },
                                "example": "<NavigationLink> <LinkID>string</LinkID> <LinkType>string</LinkType> <Enabled>true</Enabled> <Link>string</Link> </NavigationLink>"
                            }
                        }
                    }
                }
            }
        },
        "/api/Alerts": {
            "get": {
                "tags": [
                    "Alerts"
                ],
                "summary": "Alert collection",
                "description": "Returns the entity set of Alerts needed to completed by the current user",
                "operationId": "Alerts_Get",
                "parameters": [
                    {
                        "name": "$expand",
                        "in": "query",
                        "description": "Expands related entities inline.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "Filters the results, based on a Boolean condition.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Selects which properties to include in the response.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Sorts the results.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "description": "Format - int32. Returns only the first n results.",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "$skip",
                        "in": "query",
                        "description": "Format - int32. Skips the first n results.",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "$count",
                        "in": "query",
                        "description": "Includes a count of the matching results in the response.",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ODataResponse[List[viewAlert]]"
                                },
                                "example": {
                                    "@odata.context": "string",
                                    "value": [
                                        {
                                            "AlertID": 0,
                                            "AlertTypeID": 0,
                                            "AlertPolicyID": 0,
                                            "Description": "string",
                                            "RequestID": 0,
                                            "InvoiceID": 0,
                                            "ProformaInvoiceID": 0,
                                            "POID": 0,
                                            "SupplierID": 0,
                                            "DocumentDescription": "string",
                                            "RequestTypeID": 0,
                                            "CreationDate": "string",
                                            "Info": "string",
                                            "IsActive": true,
                                            "IsStatus": true,
                                            "RecipientID": 0,
                                            "AlertRecipientID": 0
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/Alerts/AlertType": {
            "get": {
                "tags": [
                    "Alerts"
                ],
                "summary": "Alert Types collection",
                "description": "Returns the entity set of Alerts Types",
                "operationId": "Alerts_AlertType",
                "parameters": [
                    {
                        "name": "culturecode",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "$expand",
                        "in": "query",
                        "description": "Expands related entities inline.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "Filters the results, based on a Boolean condition.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Selects which properties to include in the response.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Sorts the results.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "description": "Format - int32. Returns only the first n results.",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "$skip",
                        "in": "query",
                        "description": "Format - int32. Skips the first n results.",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "$count",
                        "in": "query",
                        "description": "Includes a count of the matching results in the response.",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ODataResponse[List[AlertType]]"
                                },
                                "example": {
                                    "@odata.context": "string",
                                    "value": [
                                        {
                                            "AlertTypeID": 0,
                                            "ResourceName": "string",
                                            "Description": "string"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/Approvals": {
            "get": {
                "tags": [
                    "Approvals"
                ],
                "summary": "Approvals collection",
                "description": "Returns the entity set of Approvals for the Tenant",
                "operationId": "Approvals_Get",
                "parameters": [
                    {
                        "name": "$expand",
                        "in": "query",
                        "description": "Expands related entities inline.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "Filters the results, based on a Boolean condition.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Selects which properties to include in the response.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Sorts the results.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "description": "Format - int32. Returns only the first n results.",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "$skip",
                        "in": "query",
                        "description": "Format - int32. Skips the first n results.",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "$count",
                        "in": "query",
                        "description": "Includes a count of the matching results in the response.",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "CompanyID",
                        "in": "query",
                        "description": "Format - int64.",
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "RequestTypeID",
                        "in": "query",
                        "description": "Format - int64.",
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ODataResponse[List[Approval]]"
                                },
                                "example": {
                                    "@odata.context": "string",
                                    "value": [
                                        {
                                            "ApprovalID": 0,
                                            "TenantID": 0,
                                            "Name": "string",
                                            "IsActive": true,
                                            "IsRequest": true,
                                            "IsInvoice": true,
                                            "IsSupplier": true
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/Approvals({ApprovalID})": {
            "get": {
                "tags": [
                    "Approvals"
                ],
                "summary": "Approvals entity",
                "description": "Returns a single Approval entity",
                "operationId": "Approvals_GetByApprovalid",
                "parameters": [
                    {
                        "name": "ApprovalID",
                        "in": "path",
                        "description": "Format - int64. key: ApprovalID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "$expand",
                        "in": "query",
                        "description": "Expands related entities inline.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Selects which properties to include in the response.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ODataResponse[List[Approval]]"
                                },
                                "example": {
                                    "@odata.context": "string",
                                    "value": [
                                        {
                                            "ApprovalID": 0,
                                            "TenantID": 0,
                                            "Name": "string",
                                            "IsActive": true,
                                            "IsRequest": true,
                                            "IsInvoice": true,
                                            "IsSupplier": true
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/Approvals/CompanyApprovals": {
            "get": {
                "tags": [
                    "Approvals"
                ],
                "summary": "Location entity",
                "description": "Returns a list Approval entities by CompanyID",
                "operationId": "Approvals_CompanyApprovals",
                "parameters": [
                    {
                        "name": "CompanyID",
                        "in": "query",
                        "description": "Format - int64.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "$expand",
                        "in": "query",
                        "description": "Expands related entities inline.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "Filters the results, based on a Boolean condition.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Selects which properties to include in the response.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Sorts the results.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "description": "Format - int32. Returns only the first n results.",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "$skip",
                        "in": "query",
                        "description": "Format - int32. Skips the first n results.",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "$count",
                        "in": "query",
                        "description": "Includes a count of the matching results in the response.",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ODataResponse[List[Approval]]"
                                },
                                "example": {
                                    "@odata.context": "string",
                                    "value": [
                                        {
                                            "ApprovalID": 0,
                                            "TenantID": 0,
                                            "Name": "string",
                                            "IsActive": true,
                                            "IsRequest": true,
                                            "IsInvoice": true,
                                            "IsSupplier": true
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/Companies": {
            "get": {
                "tags": [
                    "Companies"
                ],
                "summary": "Companies collection",
                "description": "Returns the entity set of companies",
                "operationId": "Companies_Get",
                "parameters": [
                    {
                        "name": "$expand",
                        "in": "query",
                        "description": "Expands related entities inline.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "Filters the results, based on a Boolean condition.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Selects which properties to include in the response.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Sorts the results.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "description": "Format - int32. Returns only the first n results.",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "$skip",
                        "in": "query",
                        "description": "Format - int32. Skips the first n results.",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "$count",
                        "in": "query",
                        "description": "Includes a count of the matching results in the response.",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ODataResponse[List[Company]]"
                                },
                                "example": {
                                    "@odata.context": "string",
                                    "value": [
                                        {
                                            "CompanyID": 0,
                                            "TenantID": 0,
                                            "Code": "string",
                                            "Name": "string",
                                            "RegistrationNumber": "string",
                                            "TaxRegistrationNumber": "string",
                                            "POReferenceMask": "string",
                                            "IsActive": true,
                                            "CurrencyID": 0,
                                            "Terms": "string",
                                            "POHasAllocation": true,
                                            "POHasDistributionList": true,
                                            "IsInvoiceLink": 0,
                                            "TaxRateID": 0,
                                            "PORevisionMask": "string",
                                            "POTemplateID": 0
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/Companies({CompanyID})": {
            "get": {
                "tags": [
                    "Companies"
                ],
                "summary": "Companies entity",
                "description": "Returns a single company entity",
                "operationId": "Companies_GetByCompanyid",
                "parameters": [
                    {
                        "name": "CompanyID",
                        "in": "path",
                        "description": "Format - int64. key: CompanyID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "$expand",
                        "in": "query",
                        "description": "Expands related entities inline.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Selects which properties to include in the response.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ODataResponse[List[Company]]"
                                },
                                "example": {
                                    "@odata.context": "string",
                                    "value": [
                                        {
                                            "CompanyID": 0,
                                            "TenantID": 0,
                                            "Code": "string",
                                            "Name": "string",
                                            "RegistrationNumber": "string",
                                            "TaxRegistrationNumber": "string",
                                            "POReferenceMask": "string",
                                            "IsActive": true,
                                            "CurrencyID": 0,
                                            "Terms": "string",
                                            "POHasAllocation": true,
                                            "POHasDistributionList": true,
                                            "IsInvoiceLink": 0,
                                            "TaxRateID": 0,
                                            "PORevisionMask": "string",
                                            "POTemplateID": 0
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/Companies/Metadata": {
            "get": {
                "tags": [
                    "Companies"
                ],
                "summary": "Returns the set of field labels and help texts",
                "description": "cultureCode: en-US, en-GB, en-ZA, en-CA, en-AU, af-ZA, de-DE or xh-ZA etc.",
                "operationId": "Companies_GetMetadata",
                "parameters": [
                    {
                        "name": "cultureCode",
                        "in": "query",
                        "description": "If not provided, the default value is en-US",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FieldMetadataType"
                                },
                                "example": {
                                    "FieldID": "string",
                                    "Label": "string",
                                    "HelpText": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/Currencies": {
            "get": {
                "tags": [
                    "Currencies"
                ],
                "summary": "Currencies collection",
                "description": "Returns the entity set of Currencies",
                "operationId": "Currencies_Get",
                "parameters": [
                    {
                        "name": "$expand",
                        "in": "query",
                        "description": "Expands related entities inline.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "Filters the results, based on a Boolean condition.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Selects which properties to include in the response.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Sorts the results.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "description": "Format - int32. Returns only the first n results.",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "$skip",
                        "in": "query",
                        "description": "Format - int32. Skips the first n results.",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "$count",
                        "in": "query",
                        "description": "Includes a count of the matching results in the response.",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ODataResponse[List[Currency]]"
                                },
                                "example": {
                                    "@odata.context": "string",
                                    "value": [
                                        {
                                            "CurrencyID": 0,
                                            "TenantID": 0,
                                            "Code": "string",
                                            "Name": "string",
                                            "IsActive": true
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "Currencies"
                ],
                "summary": "Currency create",
                "description": "Creates the given Currency entity",
                "operationId": "Currencies_Post",
                "requestBody": {
                    "description": "The entity to post",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Currency"
                            },
                            "example": {
                                "CurrencyID": 0,
                                "TenantID": 0,
                                "Code": "string",
                                "Name": "string",
                                "IsActive": true
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ODataResponse[List[Currency]]"
                                },
                                "example": {
                                    "@odata.context": "string",
                                    "value": [
                                        {
                                            "CurrencyID": 0,
                                            "TenantID": 0,
                                            "Code": "string",
                                            "Name": "string",
                                            "IsActive": true
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/Currencies({CurrencyID})": {
            "get": {
                "tags": [
                    "Currencies"
                ],
                "summary": "Currencies entity",
                "description": "Returns a single currency entity",
                "operationId": "Currencies_GetByCurrencyid",
                "parameters": [
                    {
                        "name": "CurrencyID",
                        "in": "path",
                        "description": "Format - int64. key: CurrencyID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "$expand",
                        "in": "query",
                        "description": "Expands related entities inline.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Selects which properties to include in the response.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ODataResponse[List[Currency]]"
                                },
                                "example": {
                                    "@odata.context": "string",
                                    "value": [
                                        {
                                            "CurrencyID": 0,
                                            "TenantID": 0,
                                            "Code": "string",
                                            "Name": "string",
                                            "IsActive": true
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "Currencies"
                ],
                "summary": "Currency Delete",
                "description": "Deletes the Currency",
                "operationId": "Currencies_DeleteByCurrencyid",
                "parameters": [
                    {
                        "name": "CurrencyID",
                        "in": "path",
                        "description": "Format - int64. key: CurrencyID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "If-Match",
                        "in": "header",
                        "description": "If-Match header",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK"
                    }
                }
            },
            "put": {
                "tags": [
                    "Currencies"
                ],
                "summary": "Currency update",
                "description": "Updates the given Currency entity",
                "operationId": "Currencies_PutByCurrencyid",
                "parameters": [
                    {
                        "name": "CurrencyID",
                        "in": "path",
                        "description": "Format - int64. key: CurrencyID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    }
                ],
                "requestBody": {
                    "description": "The entity to put",
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/Currency"
                            },
                            "example": {
                                "CurrencyID": 0,
                                "TenantID": 0,
                                "Code": "string",
                                "Name": "string",
                                "IsActive": true
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ODataResponse[List[Currency]]"
                                },
                                "example": {
                                    "@odata.context": "string",
                                    "value": [
                                        {
                                            "CurrencyID": 0,
                                            "TenantID": 0,
                                            "Code": "string",
                                            "Name": "string",
                                            "IsActive": true
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/Currencies/Metadata": {
            "get": {
                "tags": [
                    "Currencies"
                ],
                "summary": "Returns the set of field labels and help texts",
                "description": "cultureCode: en-US, en-GB, en-ZA, en-CA, en-AU, af-ZA, de-DE or xh-ZA etc.",
                "operationId": "Currencies_GetMetadata",
                "parameters": [
                    {
                        "name": "cultureCode",
                        "in": "query",
                        "description": "If not provided, the default value is en-US",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FieldMetadataType"
                                },
                                "example": {
                                    "FieldID": "string",
                                    "Label": "string",
                                    "HelpText": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/CurrentStates": {
            "get": {
                "tags": [
                    "CurrentStates"
                ],
                "summary": "Current States collection",
                "description": "Returns the entity set of Current States with custom states for the current Tenant \r\nand language resources based on the culturecode provided.",
                "operationId": "CurrentStates_Get",
                "parameters": [
                    {
                        "name": "$expand",
                        "in": "query",
                        "description": "Expands related entities inline.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "Filters the results, based on a Boolean condition.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Selects which properties to include in the response.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Sorts the results.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "description": "Format - int32. Returns only the first n results.",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "$skip",
                        "in": "query",
                        "description": "Format - int32. Skips the first n results.",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "$count",
                        "in": "query",
                        "description": "Includes a count of the matching results in the response.",
                        "schema": {
                            "type": "boolean"
                        }
                    },
                    {
                        "name": "RequestTypeID",
                        "in": "query",
                        "description": "Format - int64.",
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "culturecode",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "includeExportPending",
                        "in": "query",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ODataResponse[List[CurrentState]]"
                                },
                                "example": {
                                    "@odata.context": "string",
                                    "value": [
                                        {
                                            "CurrentStateID": 0,
                                            "ResourceName": "string",
                                            "Description": "string"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/CurrentStates/Name": {
            "get": {
                "tags": [
                    "CurrentStates"
                ],
                "summary": "Current States Name",
                "description": "Name of the state provided for the specific Request Type",
                "operationId": "CurrentStates_Name",
                "parameters": [
                    {
                        "name": "CurrentStateID",
                        "in": "query",
                        "description": "Format - int64.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "RequestTypeID",
                        "in": "query",
                        "description": "Format - int64.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "culturecode",
                        "in": "query",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ApiCurrentStatesNameGet200ApplicationJsonResponse"
                                },
                                "example": "string"
                            }
                        }
                    }
                }
            }
        },
        "/api/DocumentApprovals": {
            "get": {
                "tags": [
                    "DocumentApprovals"
                ],
                "summary": "Approval collection",
                "description": "Returns the entity set of Approvals tasks needed to completed by the current user",
                "operationId": "DocumentApprovals_Get",
                "parameters": [
                    {
                        "name": "$expand",
                        "in": "query",
                        "description": "Expands related entities inline.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "Filters the results, based on a Boolean condition.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Selects which properties to include in the response.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Sorts the results.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "description": "Format - int32. Returns only the first n results.",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "$skip",
                        "in": "query",
                        "description": "Format - int32. Skips the first n results.",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "$count",
                        "in": "query",
                        "description": "Includes a count of the matching results in the response.",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ODataResponse[List[viewToBeApproved]]"
                                },
                                "example": {
                                    "@odata.context": "string",
                                    "value": [
                                        {
                                            "ID": 0,
                                            "Reference": "string",
                                            "DateStamp": "string",
                                            "Description": "string",
                                            "RequestTypeID": 0,
                                            "OwnerID": 0,
                                            "Owner": "string",
                                            "AssistantID": 0,
                                            "CurrentStateID": 0,
                                            "CompanyID": 0,
                                            "TotalCost": 0,
                                            "CreatedDate": "string",
                                            "SubmittedDate": "string",
                                            "ApprovalGroups": "string"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/Employees({EmployeeID})": {
            "get": {
                "tags": [
                    "Employees"
                ],
                "summary": "Employee entity",
                "description": "Returns a single employee entity",
                "operationId": "Employees_Get2ByEmployeeid",
                "parameters": [
                    {
                        "name": "EmployeeID",
                        "in": "path",
                        "description": "Format - int64. key: EmployeeID",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "$expand",
                        "in": "query",
                        "description": "Expands related entities inline.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Selects which properties to include in the response.",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ODataResponse[List[Employee]]"
                                },
                                "example": {
                                    "@odata.context": "string",
                                    "value": [
                                        {
                                            "EmployeeID": 0,
                                            "TenantID": 0,
                                            "FxUserID": "00000000-0000-0000-0000-000000000000",
                                            "FirstName": "string",
                                            "LastName": "string",
                                            "EmployeeRef": "string",
                                            "Email": "string",
                                            "IsAway": true,
                                            "TimeZoneID": "string",
                                            "IsActive": true,
                                            "DefaultCompanyID": 0,
                                            "AADUserID": "00000000-0000-0000-0000-000000000000",
                                            "LDAPUserID": "string",
                                            "LocationID": 0,
                                            "DefaultInvoiceLocationID": 0,
                                            "DefaultPhysicalLocationID": 0
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/Employees/Metadata": {
            "get": {
                "tags": [
                    "Employees"
                ],
                "summary": "Returns the set of field labels and help texts",
                "description": "cultureCode: en-US, en-GB, en-ZA, en-CA, en-AU, af-ZA, de-DE or xh-ZA etc.",
                "operationId": "Employees_GetMetadata",
                "parameters": [
                    {
                        "name": "cultureCode",
                        "in": "query",
                        "description": "If not provided, the default value is en-US",
                        "schema": {
                            "type": "string"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/FieldMetadataType"
                                },
                                "example": {
                                    "FieldID": "string",
                                    "Label": "string",
                                    "HelpText": "string"
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/Employees({EmployeeID})/Proxies": {
            "get": {
                "tags": [
                    "Employees"
                ],
                "summary": "Employee Proxies",
                "description": "Returns a collection of employees who are proxies of a certain Employee",
                "operationId": "Employees_ProxiesByEmployeeid",
                "parameters": [
                    {
                        "name": "EmployeeID",
                        "in": "path",
                        "description": "Format - int64.",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "format": "int64"
                        }
                    },
                    {
                        "name": "$expand",
                        "in": "query",
                        "description": "Expands related entities inline.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "$filter",
                        "in": "query",
                        "description": "Filters the results, based on a Boolean condition.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "$select",
                        "in": "query",
                        "description": "Selects which properties to include in the response.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "$orderby",
                        "in": "query",
                        "description": "Sorts the results.",
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "$top",
                        "in": "query",
                        "description": "Format - int32. Returns only the first n results.",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "$skip",
                        "in": "query",
                        "description": "Format - int32. Skips the first n results.",
                        "schema": {
                            "type": "integer",
                            "format": "int32"
                        }
                    },
                    {
                        "name": "$count",
                        "in": "query",
                        "description": "Includes a count of the matching results in the response.",
                        "schema": {
                            "type": "boolean"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ODataResponse[List[Employee]]"
                                },
                                "example": {
                                    "@odata.context": "string",
                                    "value": [
                                        {
                                            "EmployeeID": 0,
                                            "TenantID": 0,
                                            "FxUserID": "00000000-0000-0000-0000-000000000000",
                                            "FirstName": "string",
                                            "LastName": "string",
                                            "EmployeeRef": "string",
                                            "Email": "string",
                                            "IsAway": true,
                                            "TimeZoneID": "string",
                                            "IsActive": true,
                                            "DefaultCompanyID": 0,
                                            "AADUserID": "00000000-0000-0000-0000-000000000000",
                                            "LDAPUserID": "string",
                                            "LocationID": 0,
                                            "DefaultInvoiceLocationID": 0,
                                            "DefaultPhysicalLocationID": 0
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "/api/Employees({EmployeeID})/Assistants": {
            "get": {
                "tags": [
                    "Employees"
                ],
                "summary": "Employee Assistants",
                "description": "Returns a collection of employees who are Assistants of a certain Employee",
                "operationId": "Employees_AssistantsByEmployeeid",
                "parameters": [
                    {
                        "name": "EmployeeID",
                        "in": "path",
                        "description": "Format - int64.",
                        "required": true,
[...]
