//$primary: #ff69b4;
$kendo-color-primary: #008897;

// $kendo-series-a: #1c1b1b;
// $kendo-series-b: #1c1b1b;
// $kendo-series-c: #1c1b1b;
// $kendo-series-d: #1c1b1b;
// $kendo-series-e: #1c1b1b;
// $kendo-series-f: #1c1b1b;


// $kendo-series-1: #1c1b1b;
// $kendo-series-2: #1c1b1b;

// $kendo-chart-major-lines: #1c1b1b;
// $kendo-chart-minor-lines: #1c1b1b;
div.card {
    border-radius: 8px;
    border-width: 1px;
    border-color: #DADADA;
    background-color: white;
}